
.button{
    -fx-text-fill: rgb(49,89,23);
    -fx-padding: 3 6 6 6;
    -fx-border-raduis: 10
}

#glass-grey {
    -fx-background-color:
            #c3c4c4,
            linear-gradient(#d6d6d6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.root{
    -fx-base: rgb(211,211, 211);
    -fx-background: rgb(74, 74, 224);
}


.ImageView {
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
    border-color: lightgrey;
}